[submodule "prereq"]
	path = prereq
	url = https://github.com/ChiamakaUI/Turbin3-rust-prereq
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/ChiamakaUI/solana-starter
[submodule "vault-program"]
	path = vault-program
	url = https://github.com/ChiamakaUI/vault-program
[submodule "escrow-program"]
	path = escrow-program
	url = https://github.com/ChiamakaUI/turbin3-escrow
[submodule "capstone"]
	path = capstone
	url = https://github.com/ChiamakaUI/streamlink-escrow
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/ChiamakaUI/nft-marketplace
[submodule "ts-prereq"]
	path = ts-prereq
	url = https://github.com/ChiamakaUI/risein-assignment
[submodule "amm-program"]
	path = amm-program
	url = https://github.com/ChiamakaUI/amm-program
[submodule "staking"]
	path = staking
	url = https://github.com/ChiamakaUI/staking
[submodule "dice"]
	path = dice
	url = https://github.com/ChiamakaUI/turbin3-dice
