[submodule "prereq"]
	path = prereq
	url = https://github.com/ChiamakaUI/Turbin3-rust-prereq
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/ChiamakaUI/solana-starter
[submodule "vault-program"]
	path = vault-program
	url = https://github.com/ChiamakaUI/vault-program
[submodule "escrow-program"]
	path = escrow-program
	url = https://github.com/ChiamakaUI/turbin3-escrow
[submodule "capstone"]
	path = capstone
	url = https://github.com/ChiamakaUI/streamlink-escrow
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/ChiamakaUI/nft-marketplace
